h2 {
  text-align: center;
  font-size: 5rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
  padding-left: 1rem;
}
blockquote {
  font-size: 2rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
  font-style: italic;
}
#photo-container {
  background-color: #480e0a;
}
.text-container {
  padding: 4rem 1rem 4rem 1rem;
  max-height: 1200px;
  overflow: hidden;
  word-wrap: break-word;
}
#card-title {
  padding-bottom: 2rem;
}
#card-from {
  float: right;
  padding-right: 2rem;
}
img {
  width: 108%;
  margin: 0;
  float: right;
  /*object-fit: cover;*/
}

@media (max-width: 1000px) {
  #card-container {
    max-height: auto;
  }
  .one-half.column{
    width: 100%;
    float: none;
  }
  .column {
    margin: 0;
  }
  img {
    height: auto;
  }
}

@media (max-width: 768px) {
  .one-half.column{
    width: 60%;
    float: none;
  }
}