html {
  height: 100%
}
body {
  margin: auto;
  padding: 0rem;
  width: 80%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 48px;
  background-color: #d4c8be;
}
h1 {
  text-align: center;
  font-size: 8rem;
}
#card-container { 
  margin: auto;
  /*width: 90%;*/
  /*max-height: 96%;*/
}

